.page-title {
  margin-left: 2rem; font-family: oswald; font-size: 40px
}


.best-movie-border-limit {
  border: 6px solid black;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 2px;
}

.best-movie-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.best-movie-details {
  margin: auto;
}

.best-movie-title {
  font-size: 44;
  font-weight: bold;
}

.best-movie-details-btn{
    background-color: #FA0B0B;
    position: absolute;
    bottom: 40px;
    right: 30px;
    border-radius: 25px;
    color: white;
    border: none;
    height: 68px;
    width: 166px;
}



.movie-containers {
  display: flex;
  flex-direction: column;
  height: 556px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-cards {
  display: flex;
  position: relative;
  overflow: hidden;
  /* width: 250px; */
  width: calc(33.333% - 16px);
  height: 250px;
  margin-bottom: 16px;
}

.movie-cards img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.movie-cards-details {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(30%);
  color: white;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  z-index: 1;
  background-color: #000000;
  opacity: 70%;
  display: flex;
  flex-direction: column;
}

.movie-card-btn-container {
    display: flex; justify-content: flex-end; margin-top: 8px;
}

.movie-card-btn{
    background-color: #2D2C2C; width : 81px; color: white; border: none; border-radius: 25px; padding: 4px 2px; cursor: pointer;
}

.movie-info-container {
  display: flex; flex-direction: row; gap: 16px; align-items: flex-start;
}

#modal-content {
  background: white; padding: 20px; border-radius: 8px; max-width: 700px; width: 90%; max-height: 90vh; overflow-y: auto; position: relative; display: flex; flex-direction: column; gap: 16px;
}

#mobile-modal-img-container {
  display: none;
}

#close-modal-cross {
  display: none;
}

.toggle-button {
  display: none;
}


/* Media query pour tablette */
@media (min-width: 768px) and (max-width: 1023px) {
    .movie-containers {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    .movie-cards {
      width: calc(50% - 16px); /* 2 films par ligne */
      background-color: red;
    }

    .movie-containers .movie-cards:nth-child(n+5) {
      display: none; /* Masque les films au-delà du 4e */
    }

    .desktop-img-container {
      display: none;
    }

    #mobile-modal-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

   
    #mobile-modal-img-container {
      display: block;
      width: 100%;
      height: 250px;
    }

    #close-modal-btn {
      display: none;
    }

    #close-modal-cross {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      color: red;
      height: 32px;
      width: 32px;
      position: absolute;
      top: 20px;
      right: 10px;
      background: none;
      border: none;
      font-size: 32px; 
      line-height: 1;
      cursor: pointer;
      padding: 0;
    }

    .toggle-button{
      display: block;
    }
  }


/* Media query pour mobile */
@media (max-width: 767px) {

    #page-title {
      display: none;
    }

    .logo {
      margin: auto;
    }

    .best-movie-border-limit {
        flex-direction: column;
        padding : 16px
      }

      .best-movie-img {
        width: 100%;
        object-fit: cover;
      }
      

    .best-movie-details-btn{
        width: 90px;
        height: 40px;
        font-size: 14px;
        position: unset;
        margin : auto;
    }

    .movie-containers {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .movie-containers .movie-cards:nth-child(n+3) {
      display: none; /* Masque les films au-delà du 2e */
    }

    .movie-cards {
      width: calc(100%); /* 2 films par ligne */
    }


    #mobile-modal-img-container {
      display: block;
      width: 100%;
      height: 250px;
    }

    .desktop-img-container {
      display: none;
    }

    #mobile-modal-img-container img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #close-modal-btn {
      display: none;
    }

    #close-modal-cross {
      display: flex; /* Utilisation de Flexbox */
      align-items: center; /* Centrer verticalement */
      justify-content: center; /* Centrer horizontalement */
      color: red;
      height: 32px;
      width: 32px;
      position: absolute;
      top: 45px;
      right: 10px;
      background: none;
      border: none;
      font-size: 32px; /* Taille de la croix */
      line-height: 1; /* Empêche le décalage */
      cursor: pointer;
      padding: 0; /* Retirer le padding par défaut */
    }

    .toggle-button{
      display: block;
    }
  }